:root {
    --theme-purple-dark: #1C0C5B;
    --theme-purple-light: #3D2C8D;
    --theme-pink-dark: #916BBF;
    --theme-pink-light: #C996CC;

    --primary: var(--theme-purple-dark);
    --secondary: var(--theme-pink-light);

    --text-primary: var(--theme-pink-dark);
    --text-secondary: var(--theme-purple-light);

    --accent-0: #fff;
    --accent-1: #fafafa;
    --accent-2: #eaeaea;
    --accent-3: #999999;
    --accent-4: #888888;
    --accent-5: #666666;
    --accent-6: #444444;
    --accent-7: #333333;
    --accent-8: #111111;
    --accent-9: #000;
}
