@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import 'style/colors';

a, button.link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .35s ease-in-out;
  color: var(--accent-1);
  border: none;
  background-color: transparent;

  &:hover {
    transition: text-decoration-color .1s ease-in-out;
    text-decoration-color: inherit;
  }
}

#app {
  font-family: 'Roboto', sans-serif;

  @import "style/buttons";

  @import 'style/tooltip';
}

@import 'style/scrollbar';
